<meta charset="UTF-8">
<title>Diff Pvt Ltd – Ranchi</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/favicon.png" type="image/png">

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/swiper.min.css" rel="stylesheet">
<link href="/css/data-aos.css" rel="stylesheet">
<link href="/css/poppins.css" rel="stylesheet">
<link href="/css/all.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

<script src="/js/data-aos.js" defer></script>
<script src="/js/swiper-bundle.min.js" defer></script>
<script src="/js/bootstrap.min.js" defer></script>
<script src="/js/script.js" defer></script>
