
    <div class="header_parent">
      <header class="site-header">
        <div class="container">
          <div class="header_wrap">
            <!-- LOGO -->
            <div class="header-logo col-md-2">
              <a class="navbar-brand fw-bold" href="index.html">
                <img class="header_logo" src="images/diff_trans_logo.png" alt="DIFF Logo">
              </a>
            </div>
            <!-- MENU TOGGLE (MOBILE) -->
            <button class="menu-toggle" id="menuToggle">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <!-- NAV MENU -->
            <nav class="header-nav col-md-10" id="headerNav">
              <div class="mobile_menu_imgtop">
                <img class="mobile_menu_img" src="images/diff_trans_logo.png">
                <button class="mobile_menu_close" id="menu_close">x</button>
              </div>
              <ul class="navbar-nav col-md-7">
                <li class="nav-item">
                  <a class="nav-link" href="services.html">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="projects.html">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about-us.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact-us.html">Contact</a>
                </li>
              </ul>
              <!-- MOBILE BUTTONS -->
              <div class="col-md-5 d-flex align-items-center justify-content-around mobile-header-actions">
                <a href="tel:+91-9334716541" class="header_call btn_outline">
                  <i class="fa fa-phone"></i> +91-9334716541 </a>
                <a href="contact-us.html" target="_blank" class="btn orng_arw_btn">Get a Quote <i class="fa fa-arrow-right"></i>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </header>
    </div> 